div.page{
    text-align: center;
    margin-left:10%;
    width: 80%;
    align: center;
    margin-top: 240px;
    z-index: -10;
}
div.news{
    align-items: center;
    background-color: rgba(11,11,11,0.9);
    height: max-content;
    border: 2px solid rgb(212, 255, 19);
    z-index: -11;
    padding: 15px;
}

div.new{
    background-color: rgba(11,11,11,0.9);
    border: 2px solid rgba(212, 255, 19, 0.3);
    padding: 5px;
    z-index: -11;
    margin: 0 0 10px 0;
}

.new h2{
    width: max-content;
    text-align: left;
    padding: 0 5px;
    color: #cbc4c2;
    font-family: "Montserrat Thin";
    margin: 0 10px;
    border-left: 5px solid rgb(212,255,19);

    transition:  0.4s;
    -o-transition:  0.4s;
    -moz-transition:  0.4s;
    -webkit-transition:  0.4s;
}
.new p{
    color: #999999;
    text-align: left;
    text-indent: 20px;
    font-size: 18px;
    font-family: Montserrat;
    padding: 0 10px;
}
.slider_new{
    display: flex;
    height: max-content;
}
div.slide{
    width: 0;
    height:29px;
    border-left: 3px solid rgb(212,255,19);
    border-right: 3px solid rgb(212,255,19);
    color: white;
    font-size: 20px;
    font-family: "Titillium Web Thin";
    overflow: hidden;

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

div.new:hover div.slide{
    width: 120px;
}

div.new{
    display: flex;
}

.new img{
    width: 220px;
}