div.main-page{
    text-align: center;
    margin-left:10%;
    width: 80%;
    align: center;
    margin-top: 240px;
    z-index: -10;
}

div.page{
    align-items: center;
    background-color: rgba(11,11,11,0.9);
    border: 2px solid rgb(212, 255, 19);
    z-index: -11;
    width: 100%;
}
.catalog{
    font-family: "Montserrat Light", serif;
    border-bottom: 2px solid rgba(212, 255, 19,0.3);
    margin: 0;
}
.catalog h2{
    font-size: 30px;
    transform: translateY(10px);
    color: #818181;
    text-align: left;
    padding: 10px 40px;
    margin: 0;
}
.catal-row{
    display: flex;
    justify-content: space-around;
    background-color: rgba(10,10,10,0.6);
    padding: 0 5px;
    align-items: center;
    height: max-content;
}
.catal-row button{
    padding: 10px;
    border: 2px solid rgb(212, 255, 19);
    background-color: rgba(0,0,0,0);
    font-size: 24px;
    color: rgb(212, 255, 19);
    outline: none;

    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;

    cursor: pointer;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.catal-row button:hover{
    background-color: rgb(212, 255, 19);
    color: black;
    box-shadow: 0 0 20px rgb(212,255,19);
}
.catal-row button:active{
    box-shadow: inset 0 0 15px 5px black;
    border-color: transparent;
}
.item{
    margin: 10px 5px;
    width: 200px;
    height: 270px;
    overflow: hidden;
    border: 2px solid rgb(212,255,19);
    cursor: pointer;
    position: relative;
    border-radius: 10px;

}
.item img{
    width: 200px;
    margin: 0;

    transition:        0.2s;
    -o-transition:     0.2s;
    -moz-transition:   0.2s;
    -webkit-transition:0.2s;
}
.item .description{
    position: absolute;
    color: white;
    padding: 0;
    top:200px;

    transition:        0.2s;
    -o-transition:     0.2s;
    -moz-transition:   0.2s;
    -webkit-transition:0.2s;
}
.item .header-container{
    height: 70px;
    margin: 0;
}
.item .header-container h3{
    margin: 0;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;

    transition:        0.2s;
    -o-transition:     0.2s;
    -moz-transition:   0.2s;
    -webkit-transition:0.2s;
}
.item .description p{
    border-top: 2px solid rgb(212,255,19);
    background-color: black;
    padding: 5px 10px;
    margin: 0;
    text-indent: 10px;
    text-align: left;
    color: white;
}
.item .price,.item .price-kzt{
    top: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    width: max-content;

    transition:        0.2s;
    -o-transition:     0.2s;
    -moz-transition:   0.2s;
    -webkit-transition:0.2s;
}
.item .price{
    left: 0;
    border-radius: 0 20px 20px 0;
}
.item .price-kzt{
    right:0;
    top:-35px;
    border-radius: 20px 0 0 20px;
}
.item .price h3,.item .price-kzt h3{
    font-family: "Montserrat ExtraLight",serif;
    text-align: right;
    color: white;
    padding: 0 4px;
    margin: 0;
}
.item .price-kzt span{
    font-size: 10px;
}

.item:hover img{
    width: 210px;
    transform: translate(-5px, -5px);
}
.item:hover div.description{
    top:100px;
}
.item:hover div.price-kzt{
    top: 30px;
}
.catalog:last-child{
    margin-bottom: 0;
}

.map-container{
    text-align: center;
    margin-left:10%;
    width: 80%;
    align: center;
    margin-top: 50px;
    align-items: center;
    background-color: rgba(11,11,11,0.9);
    border: 2px solid rgb(212, 255, 19);
    z-index: -11;
    padding: 5px;
}
.map{
    width: 100%;
}
.map-container h3{
    font-family: "Montserrat Light",serif;
    color: white;
    padding: 0 40px;
}

.map img{
    margin: 5px 10px;
    width: 1250px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.map area{
    outline: none;
}
